* {
    font-family: 'Oswald', sans-serif;
}
/* palette colori */
:root {--cosmos-red: rgba(217, 28, 72);
--white-smoke: rgba(246, 245, 244, 1);
--drab-dark-brown: rgba(39, 37, 2, 1);
}
/* imagine header background */
.first-img {
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0)), url('./media/sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo {
    height: 60px;
    border-radius: 30px;
}

/* Cambio Font link navbar */
.font-link:hover {
    color: var(--cosmos-red) !important; 
    /* font-size: xx-large !important; */
}
.font-link-fb:hover {
    color: rgb(55, 55, 197) !important;
}
.font-link-tw:hover {
    color: rgb(24, 167, 211) !important;
}

